.card {
  display: flex;
  flex-direction: column;
  width: 15%;
  min-width: 15rem;
  border-radius: 15px;
  box-shadow: var(--filter-shadow);
}

.img {
  width: 90%;
  height: 14rem;
  border-radius: 15px;
  margin: 1rem auto;
}

.card.home .img {
  width: 90%;
}

.info {
  border-radius: 0 0 15px 15px;
  padding: 10px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 800;
}

.top .title {
  font-size: 1.15rem;
}
.top .price {
  font-weight: 500;
}
.card:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.card:hover .title {
  color: var(--color-brown);
}

.btm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1160px) {
  .card {
    width: 20rem;
  }
}
@media (max-width: 1110px) {
  .card.home {
    width: 18rem !important;
  }
}

@media (max-width: 1050px) {
  .card {
    width: 18rem;
  }

  .card.home {
    width: 16rem !important;
  }
}

@media (max-width: 965px) {
  .card {
    width: 16rem;
  }
}

@media (max-width: 900px) {
  .card {
    width: 100%;
    min-width: 0;
  }

  .card.home {
    width: 15rem !important;
  }
}

@media (max-width: 838px) {
  .card.home {
    width: 20rem !important;
  }
}

@media (max-width: 740px) {
  .card.home {
    width: 18rem !important;
  }
}

@media (max-width: 660px) {
  .card.home {
    width: 16rem !important;
  }
}

@media (max-width: 680px) {
  .card {
    width: 48%;
  }
  .img {
    width: 90%;
  }
}

@media (max-width: 590px) {
  .card.home {
    width: 15rem !important;
  }
  .card {
    width: 90%;
  }
}

@media (max-width: 555px) {
  .card.home {
    width: 13.5rem !important;
  }
}

@media (max-width: 505px) {
  .card.home {
    width: 100% !important;
  }
}

@media (max-width: 450px) {
  .card {
    width: 100%;
  }
}
