.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 85vh;
  min-height: 79vh;
  background-color: white;
  box-shadow: 24;
  padding: 3.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
  border-radius: 15px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.holder {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  height: 100%;
  padding-bottom: 2rem;
  width: 90%;
  margin: auto;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.modal::-webkit-scrollbar {
  height: 100%;
  width: 7px;
  border-radius: 15px;
}

.modal::-webkit-scrollbar-thumb {
  background-color: var(--color-blue);
}

.modal::-webkit-scrollbar-track {
  border-radius: 15px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.openModal {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--color-offWhite);
  cursor: pointer;
}
.openModal:hover {
  background-color: var(--color-blue);
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comments_Holder {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  row-gap: 1.5rem;
  flex-wrap: wrap;
}

.rating_Li {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.rating_Title {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
}

.Rate_titleHolder {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.rating_Star {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.rating_Date {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  color: gray;
}

.rating_Name {
  font-size: 1.1rem;
  font-weight: 600;
}

@media (max-width: 1000px) {
  .modal {
    padding: 3rem 1rem;
  }
}

@media (max-width: 910px) {
  .modal {
    width: 90vw;
  }
}

@media (max-width: 800px) {
  .rating_Li {
    width: 270px;
  }
}

@media (max-width: 730px) {
  .rating_Li {
    width: 240px;
  }
}

@media (max-width: 650px) {
  .rating_Li {
    width: 80%;
    margin: 0 auto;
  }
  .title {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 550px) {
  .rating_Li {
    width: 90%;
    margin: 0 auto;
  }
  .title {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
  .modal {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
}
